<%= form_for @employee do |form| %>
  <p><%= abc %></p>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@employee.errors.count, "error") %> prohibited
        this employee from being saved:
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :designation %><br>
  <%= form.text_field :designation %>
</p>

<p>
  <%= form.label :salary %><br>
  <%= form.text_field :salary %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>
